html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: #84422c;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #1ee5d3;
}

#buffer {
    width: 20%;
    background-color: #44282a;
}

#section {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-bottom: 25%;
}

#banner {
    color: #1ee5d3;
    text-align: center;
    font-size: 10vw;
    font-weight: bold;
    text-shadow: 0 0 30px;
    justify-content: center;
    padding: 50px;
}

#content {
    margin: 0 5vw 0 5vw;
    text-align: justify;
    text-justify: inter-word;
}

ul.body-list {
    position: static;
    top: 25vh;
}

ul.menu-list {
    list-style-type: none;
    position: fixed;
    top: 25vh;
    list-style-position: inside;
}

h1, h2, h3 {
    color: #1ee5d3;
    text-shadow: 0 0 30px;
}

a {
    color: #dddb1b;
}

pre {
    white-space: pre-wrap;
    text-indent: 3em hanging each-line;
    text-align: left;
    background-color: #0272a9;
    font-variant: normal;
    font-size: 15px;
    color: #1ee5d3;
    padding: 10px;
    border-radius: 10px;
}

#inline-bash {
    background-color: #0272a9;
    font-variant: normal;
    font-size: large;
    color: #1ee5d3;
    padding: 0px 3px;
    border-radius: 3px;
}

#header-bash {
    font-variant: normal;
    font-size: 1em;
}
