@font-face {
    font-family: "Courier Prime";
    src: url('./font/CourierPrime-Regular.ttf') format("truetype");
}

@media screen and (max-width: 600px) {
    img { display: none; }
    .buffer { display: none; }
    pre { white-space: normal; overflow-wrap: anywhere; }
}

html,body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: #84422c;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    color: #1ee5d3;
}

.buffer {
    width: 20%;
    background-color: #44282a;
}

.section {
    width: 60%;
    padding-bottom: 25%;
}

@media screen and (max-width: 600px) {
    .section { width: 100%; }
}

.banner {
    /* position: sticky;
    top: 0; */
    background-color: #84422c;
    color: #1ee5d3;
    text-align: center;
    font-size: max(85px, 10vw);
    font-weight: bold;
    text-shadow: 0 0 30px;
}

.links {
    display: none;
    background-color: #84422c;
    padding: 0 0 5vw 5vw;
}

@media screen and (max-width: 600px) {
    .links { display: block; }
}

input[type="checkbox"] {    /*  Hide the checkbox   */
    display: none; 
}

.hiddenmenu {               /* Menu default */
    display: none;
}

.hiddenmenuhead {
    color: #1ee5d3;
    text-shadow: 0 0 30px;
    font-size: 5vw;
    font-weight: bold;
}

#menubtn:checked ~ .hiddenmenu {    /* Menu when checkbox toggled */
    display: block;
    background-color: #0272a9;
    padding: 3vw;
    border-radius: 10px;
    list-style-type: none;
    list-style-position: inside;
    position: fixed;
    font-size: large;
}

.content {
    margin: 0 5vw 0 5vw;
    text-align: justify;
    text-justify: inter-word;
}

ul.body-list {
    position: static;
    top: 25vh;
}

ul.menu-list {
    list-style-type: none;
    list-style-position: inside;
    position: fixed;
    top: 25vh;
    font-size: large;
}

h1,h2,h3 {
    color: #1ee5d3;
    text-shadow: 0 0 30px;
    /* font-size: 3em; */
    /* font-weight: 300; */
}

h1 {
    font-size: 3em;
}

h1.menuhead {
    font-size: 4vw;
}

a {
    color: #dddb1b;
}

pre {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    text-indent: 3em hanging each-line;
    text-align: left;
    background-color: #0272a9;
    font-variant: normal;
    color: #1ee5d3;
    padding: 10px;
    border-radius: 10px;
}

code {
    font-family: "Courier Prime";
}

#inline-bash {
    background-color: #0272a9;
    font-variant: normal;
    font-size: large;
    color: #1ee5d3;
    padding: 0px 3px;
    border-radius: 3px;
}

#header-bash {
    font-variant: normal;
    font-size: 1em;
}

img {
    width: 100%;
    position: sticky;
    top: 0;
}
