/* https://colorshexa.com/palette/evangelion-unit-01-and-02-color */
@font-face {
    font-family: "Courier Prime";
    src: url('./font/CourierPrime-Regular.ttf') format("truetype");
}

@media screen and (max-width: 600px) {
    img { display: none; }
    .buffer { display: none; }
    .section { width: 100%; }
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: #592661;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #E6770B;
}

.buffer {
    width: 20%;
    background-color: black;
}

.section {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 60%;
    padding-bottom: 25%;
}

.banner {
    display: flex;
    width: 100%;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: max(85px, 15vw);
    white-space: nowrap;
    color: white;
    justify-content: center;
}

.banner span {
    display: block;
    transform: scale(0.6, 1);
    text-shadow: 0 0 30px;
}

.content {
    margin: 0 5vw 0 5vw;
    text-align: justify;
    text-justify: inter-word;
}

ul.body-list {
    position: static;
    top: 25vh;
}

ul.menu-list {
    list-style-type: none;
    position: fixed;
    top: 25vh;
    list-style-position: inside;
    color: #52D053;
    padding: 3vw;
}

h1 {
    color: #52D053;
    font-size: 3em;
}

h1.menuhead {
    font-size: 4vw;
}

h2, h3 {
    color: #E6770B;
}

a {
    color: inherit;
}

pre {
    white-space: normal;
    overflow-wrap: anywhere;
    text-indent: 3em hanging each-line;
    text-align: left;
    background-color: #52D053;
    font-variant: normal;
    font-size: large;
    color: #525252;
    padding: 10px;
    border-radius: 10px;
}

code {
    font-family: "Courier Prime";
}

.inline-bash {
    background-color: #52D053;
    font-variant: normal;
    font-size: large;
    color: #525252;
    padding: 0px 3px;
    border-radius: 3px;
}

.header-bash {
    font-variant: normal;
    font-size: 1em;
}

img {
    width: 100%;
    position: sticky;
    top: 0;
}
