/* https://colorshexa.com/palette/evangelion-unit-01-and-02-color */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: #D3290F;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
}

#buffer {
    width: 20%;
    background-color: black;
}

#section {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-bottom: 25%;
}

#banner {
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10vw;
    transform: scale(0.6, 1);
    justify-content: center;
    padding: 2vw;
}

#content {
    margin: 0 5vw 0 5vw;
    text-align: justify;
    text-justify: inter-word;
}

ul.body-list {
    position: static;
    top: 25vh;
}

ul.menu-list {
    list-style-type: none;
    position: fixed;
    top: 25vh;
    list-style-position: inside;
    color: #E6770B;
}

h1 {
    color: #E6770B;
    font-size: 3em;
}

h2, h3 {
    color: white;
}

a {
    color: inherit;
}

pre {
    white-space: pre-wrap;
    text-indent: 3em hanging each-line;
    text-align: left;
    background-color: #E6770B;
    font-variant: normal;
    font-size: 15px;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

#inline-bash {
    background-color: #E6770B;
    font-variant: normal;
    font-size: large;
    color: black;
    padding: 0px 3px;
    border-radius: 3px;
}

#header-bash {
    font-variant: normal;
    font-size: 1em;
}

img {
    width: 100%;
    position: sticky;
    top: 0;
}
