@font-face {
    font-family: "Olde English";
    src: url('./font/OldeEnglish.ttf') format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: black;
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: x-large;
    color: rgb(192, 192, 192);
}

#buffer {
    width: 20%;
    background-color: rgb(192, 192, 192);
}

#section {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-bottom: 25%;
}

#banner {
    text-align: center;
    font-family: "Olde English";
    font-size: 10vw;
    justify-content: center;
    padding: 50px;
}

#content {
    margin: 0 5vw 0 5vw;
    text-align: justify;
    text-justify: inter-word;
}

ul.body-list {
    position: static;
    top: 25vh;
}

ul.menu-list {
    list-style-type: none;
    position: fixed;
    top: 25vh;
    list-style-position: inside;
}

h1, h2, h3 {
    font-family: "Olde English";
    font-size: 3em;
    font-weight: 100;
    color: black;
}

a {
    color: red;
}