@font-face {
    font-family: "Olde English";
    src: url('./font/OldeEnglish.ttf') format("truetype");
}

@media screen and (max-width: 600px) {
    img {
        display: none;
    }

    .buffer {
        display: none;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: black;
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 1.3rem;
    color: rgb(192, 192, 192);
}

.buffer {
    width: 20%;
    background-color: rgb(192, 192, 192);
}

.section {
    width: 60%;
    padding-bottom: 25%;
}

@media screen and (max-width: 600px) {
    .section {
        width: 100%;
    }
}

.banner {
    background-color: black;
    padding: 2vw 0 2vw 0;
    text-align: center;
    font-family: "Olde English";
    font-size: max(85px, 10vw);
}

.links {
    display: none;
    background-color: black;
    padding: 0 0 10vw 5vw;
}

@media screen and (max-width: 600px) {
    .links {
        display: block;
    }
}

input[type="checkbox"] {
    /*  Hide the checkbox   */
    display: none;
}

.hiddenmenu {
    /* Menu default */
    display: none;
}

.hiddenmenuhead {
    font-size: 8vw;
    font-family: "Olde English";
}

#menubtn:checked~.hiddenmenu {
    /* Menu when checkbox toggled */
    display: block;
    background-color: black;
    padding: 3vw;
    margin-top: 1vw;
    border-radius: 2px;
    list-style-type: none;
    position: absolute;
    width: min-content;
    white-space: nowrap;
}

.content {
    margin: 0 5vw 0 5vw;
    text-align: justify;
    text-justify: inter-word;
}

ul.body-list {
    position: static;
    top: 25vh;
}

ul.menu-list {
    list-style-type: none;
    position: fixed;
    top: 25vh;
}

h1,
h2,
h3 {
    font-family: "Olde English";
    font-size: 3em;
    font-weight: 100;
    color: black;
}

h1.menuhead {
    font-size: 5vw;
}

a {
    color: red;
}

img {
    position: sticky;
    top: 0;
    width: 100%;
}