@font-face {
    font-family: "Spicy Sale";
    src: url('./font/Spicy Sale.ttf') format("truetype");
}

@font-face {
    font-family: "Winky Sans";
    src: url('./font/WinkySans-Regular.ttf') format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    font-family: "Winky Sans";
    font-size: large;
}

#buffer {
    width: 20%;
    background-color: deepskyblue;
}

#section {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#banner {
    color: deeppink;
    -webkit-text-stroke: 5px deepskyblue;
    text-align: center;
    font-family: "Spicy Sale";
    font-size: 10vw;
    padding: 5vw;
}

#content {
    margin: 0 5vw 0 5vw;
    text-align: justify;
    text-justify: inter-word;
    color: deeppink;
}

ul {
    list-style-type: none;
    position: fixed;
    top: 25vh;
    font-size: x-large;
}

h1,
h2 {
    font-family: "Spicy Sale";
    font-weight: 100;
    color: deeppink;
}

#menu h1 {
    font-family: "Spicy Sale";
    color: deeppink;
}

a {
    color: deeppink;
}

pre {
    white-space: pre-wrap;
    text-indent: 3em hanging each-line;
    text-align: left;
    background-color: lime;
    font-variant: normal;
    font-size: 20px;
    color: deeppink;
    padding: 10px;
    border-radius: 10px;
}

code {
    font-family: "Winky Sans";
}

#inline-bash {
    background-color: lime;
    color: deeppink;
    font-family: "Winky Sans";
    font-variant: normal;
    font-size: large;
    padding: 0px 3px;
    border-radius: 5px;
}

#header-bash {
    font-family: "Winky Sans";
    font-variant: normal;
    font-size: 1em;
}