@font-face {
    font-family: "Olde English";
    src: url('./font/OldeEnglish.ttf') format("truetype");
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: x-large;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: space-between;
}

#buffer {
    width: 20%;
    background-color: white;
}

#banner {
    display: flex;
    width: 40%;
    color: white;
    font-family: "Olde English";
    font-size: 10vw;
    justify-content: center;
    padding: 20px;
}

#section {
    width: 40%;
    color: white;
}

#menu {
    width: 20%;
    background-color: white;
}

#intro {
    margin-top: 25px;
}


ul {
    list-style-type: none;
    position: fixed;
}

h1 {
    font-weight: 100;
}

#menu h1 {
    font-family: "Olde English";
}

a {
    color: red;
}

pre {
    white-space: pre-wrap;
    text-indent: 3em hanging each-line;
    background-color: rgb(192, 192, 192);
    font-family: 'Courier New', Courier, monospace;
    font-variant: normal;
    font-size: large;
    color: black;
    padding: 10px;
    /* border-radius: 5px; */
}

#inline-bash {
    background-color: rgb(192, 192, 192);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-variant: normal;
    font-size: large;
    padding: 0px 3px;
    /* border-radius: 5px; */
}

/* 
body {
    background-color: rgb(192, 192, 192);
    display: flex;
    max-width: 800px;
    margin: 2em auto;
    padding: 0 1em;
    line-height: 1.6;
}

header {
    background-color: black;
    justify-content: center;
    padding: 25px;
    max-height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

main {
    justify-content: center;
}



aside {
    width: 20%;
    float: left;
    background-color: black;
}

section {
    float: left;
    padding-left: 100px;
}

a {
    color: red;
}

ul {
    list-style-type: none;
    padding-left: 10%;
}

.links {
    padding-left: 10%;
    color: rgb(192, 192, 192);
}

img {
    max-width: 100%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

pre {
    background-color: #000000;
    color: white;
    padding: 1em;
    overflow-x: auto;
}

code {
    font-family: monospace;
}

h1 {
    padding: 60px;
    text-align: center;
    background: #000000;
    color: white;
    font-size: 100px;
} */